/*  tag  */

button {
    background-color: blue;
    color: white;
}

h1 {
    font-size: 2em;
}

input[type=text] {
    border-color: blue;
}

option:hover {
    background-color: yellow;
}

p {
    font-size: 1.2em;
}

select {
    border-color: blue !important;
}


/*  clase  */

.content:after {
    content: 'Formulario de prueba';
}

.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 5px;
    padding: 0.5em 0.6em;
}


/*  id  */

#resultado {
    display: inline-block;
}